<div class="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Angular 5 tic-tac-toe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/docs"> <fa-icon [icon]="faBook"></fa-icon> Check the documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link repo-link" href="https://github.com/marciogurka/angular5-tictactoe"> <fa-icon [icon]="faCode"></fa-icon> Check the source code</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row justify-content-around align-items-center">
        <app-player class="col-sm-6 col-md-3" [ngClass]="{'col-md-3': gameReady, 'col-md-4' : !gameReady}" (playerSubmitted)="playerSubmitted()" [player]="players[0]" [gameReady]="gameReady"></app-player>
        <app-board class="col-md-5 order-sm-last" *ngIf="gameReady" [player1]="players[0]" [player2]="players[1]" [@animateBoardIn]></app-board>
        <app-player class="col-sm-6 col-md-3 order-md-last" [ngClass]="{'col-md-3': gameReady, 'col-md-4' : !gameReady}" (playerSubmitted)="playerSubmitted()" [player]="players[1]" [gameReady]="gameReady"></app-player>
    </div>
  </div>
  <footer class="navbar navbar-light bg-light justify-content-center">
    <span class="navbar-text">Made with <fa-icon [icon]="faHeart" class="heart"></fa-icon>  by </span>
    <a class="navbar-brand" href="https://marciogurka.com">Márcio Gurka</a>
  </footer>
</div>
